/* you will add css rules for element selectors and IDs */
html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
body {
    font-family: sans-serif;
    color: #000;
    background: #333;
    margin: 0;
}
article {
  display: flex;
flex-direction: column;
align-items: center;
padding: 40px 0;
}

#cougar { background: #b26219;
}
#lion { background: #ffd5ae;
}
#tiger { background: #ffbd82;
}

section { max-width: 500px; }
.text { background-color: #fff;;
  font-size: 100%;
  line-height: 1.5rem;
  padding: 20px 40px
}

header {
  background-color: #333;
  color: #fff;
  padding: .5rem;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 0;
  margin-left: 1rem;
  padding: .6rem 1rem;
}

footer { text-align: center;
background: #333;
color: #fff;
}
footer p {
  text-align: center;
}

.text h2 { text-align: center; }



/* you may add to or change the body rule */

img {
    max-width: 100%; /* DO NOT delete or change this line */
}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/

/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
  color: #379CB2;
}
a:hover {
  color: #82E8FF;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
}
